.links {
  font-size: 16px;
}

.single-page {
  text-align: left !important;
}

.title {
  text-align: center;
}

.single-page-footer {
  margin-top: 20px;
  width: 100%;
  border-color: #c4c4c4;
  border-style: solid;
  border-width: 0rem 0rem 0.2rem 0rem;
}
